{% extends "main_layout.html.twig" %}

{% set includeHeader = true %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/page.css') }}" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block pageclass %}{% endblock %}

{% block content %}

    <div class="container page-content">
        <div class="card">
            <div class="card-body shadow-sm">
                {% if page is defined and page.page.content is defined %}
                    {{ page.page.content }}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

