.page-main .content {
    min-height: calc(100vh - 40px);
    padding: 0 15px;
}

.page-main .content .section-send,
.page-main .content .section-get {
    min-height: calc(100vh - 40px);
}

.page-main .content .section-send {
    background: #f6f9f8;
}

.page-main .content .section-send.active {
    z-index: 1;
}

.page-main .content #filesList{
    margin-top: 65px;
    min-height: 230px;
    max-height: 500px;
}

.page-main .content .section-send.collapsed {
    position: absolute;
    left: 0;
    z-index: 11;
    overflow: hidden;
    max-width: 0;
    opacity: 0;
    transition:opacity 1s .3s, max-width 1s .3s;
}
.page-main .content .section-send > *{
    opacity: 1;
}
.page-main .content .section-send.collapsed > *{

    opacity: 0;
    transition: .3s;

}

.page-main .content .section-get {
    background-color: #62a796;
}

.page-main .content .section-get.active {
    z-index: 1;
}

.page-main .content .section-get.collapsed {
    position: absolute;
    right: 0;
    z-index: 11;
    overflow: hidden;
    max-width: 0;
    opacity: 0;
    transition:opacity 1s .3s, max-width 1s .3s;
}


.page-main .content .section-get.collapsed > *{

    opacity: 0;
    transition: .3s;

}

.page-main .content .section-get .left-side {
    display: none;
    opacity: 0;
    transition: opacity .5s;
}

.page-main .content h1.main-head {
    text-align: center;
    line-height: 1;
    padding: 10px;
    margin-top: 50px;
    font-size: 80px;
    font-family: lobster, sans-serif;
}

.page-main .content h2.main-and {
    font-size: 50px;
}

.page-main .content .section-send h1.main-head {
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    background-color: #4d8376;
}

.page-main .content .section-get h1.main-head {
    color: rgb(245, 248, 247);
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.46);
}

.page-main .content .section-send h2.main-and {
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    background-color: #4d8376;
    margin-right: -15px;
    text-align: right;
    overflow: hidden;
    margin-top: -83px;
    margin-bottom: 60px;
}

.page-main .content .section-get h2.main-and {
    color: rgb(245, 248, 247);
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.46);
    margin-left: -15px;
    overflow: hidden;
    margin-top: -83px;
    margin-bottom: 60px;
}

.page-main .content .section-get h2.main-and span {
    margin-left: -47px;
}

.page-main .content .section-send h2.main-and span {
    margin-right: -42px;
}

.page-main .content .block-1 {

}

.page-main .content .link-section {
    margin-bottom: 10px;
}
.page-main .content .link-section-text{

}

.page-main .content .margin-top-row {
    margin-top: 50px;
}

.page-main .content .margin-top-row #select-files {
    background-color: rgba(105, 179, 161, 0);
    border-color: #62a796;
    color: #62a796;
    font-family: 'Montserrat', serif;
}

.page-main .content .margin-top-row #get-files {
    background-color: rgba(105, 179, 161, 0);
    border-color: rgb(245, 248, 247);
    color: rgb(245, 248, 247);
    font-family: 'Montserrat', serif;
}

.page-main .content #user-get-name {
    text-align: center;
    background: transparent;
    border-radius: 7px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: 'Montserrat', serif;
}


.page-main .content .get-files-by-section {
    margin-top: 155px;
}

.page-main .content #get-by-location{
    background: transparent;
    color: rgb(245, 248, 247);
    margin: 30px auto 10px;
    position: relative;
    width: 200px;
    border: 1px solid;
    font-family: 'Montserrat', serif;
}

.page-main .content .search-files-button{
    background: transparent;
    border: 1px solid white;
    color: white;
    font-family: 'Montserrat', serif;
}
.page-main .content .send-link-btn{
    background: transparent;
    border: 1px solid #62a796;
    color: #62a796;
    font-family: 'Montserrat', serif;
}

.page-main .search-result{
    padding: 16px;
    color: white;
}

.page-main .content .search-result .send-link-btn{
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-family: 'Montserrat', serif;
}