<ol class="breadcrumb">
    {% for breadcrumb in page.breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ path(breadcrumb.link) }}">{% if loop.first %}<i class="fa fa-dashboard"></i>{% endif %}{{ breadcrumb.title }}</a></li>
    {% endfor %}
</ol>