<footer>
    <div class="content container-fluid">
        <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Statistic</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Terms and conditions</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
               <div class="share-icons">
                   <i class="fab fa-facebook"></i>
                   <i class="fab fa-twitter-square"></i>
                   <i class="fab fa-google-plus-square"></i>
                   <i class="fa fa-envelope-square"></i>
               </div>
            </div>
        </div>
    </div>
</footer>