<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Send and Get Admin | {% block title %}{% endblock %}</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% block stylesheets %}

        {{ encore_entry_link_tags('admin') }}

    {% endblock %}
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    {% include "_admin_header.html.twig" %}

    {% include "_admin_sidebar.html.twig" %}

    <div class="content-wrapper">

        {% if page is defined %}
            <section class="content-header">
                <h1>
                    {{ page.title }}
                    <small>{{ page.description }}</small>
                </h1>
                {% if page.breadcrumbs is defined %}
                    {% include "_admin_breadchumbs.html.twig" %}
                {% endif %}

            </section>

        {% endif %}
        <!-- Main content -->
        <section class="content">
            {% block content %}{% endblock %}
        </section>
        <!-- /.content -->
    </div>

    {% include "_admin_footer.html.twig" %}

</div>
<!-- ./wrapper -->
{% block javascripts %}

    {{ encore_entry_script_tags('admin') }}

{% endblock %}
</body>
</html>
