<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Send and Get{% endblock %}</title>

    {% block stylesheets %}

        {{ encore_entry_link_tags('main_layout') }}

    {% endblock %}

</head>
<body class="page page-{% if page is defined and page.slug is defined%}{{ page.slug }}{% else %}main{% endif %}">

{% if includeHeader is defined %}

    {% include '_header.html.twig' %}

{% endif %}
<div class="content container-fluid">

    {% if page is defined %}

        {% include '_jumbotron.html.twig' %}

    {% endif %}

    {% if page.breadcrumbs is defined %}

        {% include '_breadcrumb.html.twig' %}

    {% endif %}

    {% block content %}

    {% endblock %}
</div>

{% include '_footer.html.twig' %}


{% block javascripts %}

    <script src="http://127.0.0.1:8000/js/sag-sdk.js?key=live_0nIlZXasJiOiUGc5RnIsICNkR2M1MDOihTZlJWNiojIoNXYo9Vcp5WdiwiIt92YuwWah12ZAdDMwsWYilnczJiOiwWah12XyV2c1Jye"></script>
    {{ encore_entry_script_tags('main_layout') }}

{% endblock %}
</body>
</html>